*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:
    Spline Sans,
    sans-serif;
  margin: 0;
  padding: 0;
}

input,
button,
select {
  font-family: inherit;
}

button {
  background: white;
  border: 1px solid #aaa;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 36px;
  padding: 0 16px;

  &.switch-screen {
    background: #222;
    border: none;
    color: #fff;
  }

  &.info {
    background: #222;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
    padding: 0;
    width: 36px;
  }

  &:hover {
    text-decoration: underline;
  }
}
